body{
    background-color: rgb(151, 0, 211);
    color: aqua;
}
header{
    background-color:#5A108C ;
    color: #ADE6F6;
}
<main>{
    background-color: aquamarine;
}
<footer>{
    background-color: #6338EE;
    color: #000000;
}